# Set default behavior to automatically normalize line endings
* text=auto

# Ignore Visual Studio temporary files, .NET Core and Unity files
*.vscode/           export-ignore
*.sln               export-ignore
*.csproj            export-ignore
*.unityproj         export-ignore
*.suo               export-ignore
*.tmp               export-ignore
*.user              export-ignore
*.userprefs         export-ignore
*.pidb              export-ignore
*.pidb.meta         export-ignore

# Ignore macOS metadata files
.DS_Store           export-ignore

# Ignore npm package-lock files
package-lock.json   export-ignore

# Ignore Yarn lock files
yarn.lock           export-ignore

# Ignore JetBrains IDE files
*.iml               export-ignore
.idea/              export-ignore

# Ignore Jupyter Notebook checkpoint files
.ipynb_checkpoints/ export-ignore

# Set language for R Quattro Markdown files
*.qmd linguist-language=R
